.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.pagination button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination span {
    color: #333;
    font-weight: bold;
}
